@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-red: #DE2002;
    --color-orange: #E04200;
    --color-brown: #942B00;
    --color-light-blue: #19FFDD;
    --color-black-bue: #00947E;

}

header {
    background-color: #191919;
    color: var(--color-white);
    width: 100%;
    height: 100vh;
}

.title {
    font-size: 60px;
    padding: 20px;
}

.title span {
    color: var(--color-black-bue);
}

.menu {
    display: flex;
    margin-top: 30px;
    margin-right: 20px;
}

.menu li {
    margin-right: 30px;
    list-style: none;
    font-size: 20px;
}

.menu li a {
    text-decoration: none;
    color: var(--color-white);
    transition: all 1s ease-in-out;
}

.menu li a:hover {
    color: var(--color-light-blue);
}

.cabecalho {
    display: flex;
    justify-content: space-between;
}

.apresentation {
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
}

.text {
    text-align: center;
    margin-left: 20%;
    margin-top: 5%;
}

.text h2 {
    font-size: 60px;
}

.text p {
    font-size: 35px;
}

.text button {
    width: 280px;
    height: 72px;
    color: var(--color-black);
    font-size: 30px;
    margin-top: 20px;
    background-color: var(--color-light-blue);
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: all .8s ease-in-out;
}

.text button:hover {
    background-color: #00947E;
    color: var(--color-white);
}

.about {
    background-color: #191919;
    padding-left: 90px;
}

.about h1 {
    color: var(--color-light-blue);
    font-size: 60px;
    margin-bottom: 17px;
}

.about p {
    color: var(--color-white);
    margin-bottom: 35px;
}

.images {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.images .image-one {
    width: 35em;
    height: 370px;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}

.images .image-one:hover {
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
    transform: translateY(-8px);
}

.images .image-two {
    width: 35em;
    height: 370px;
    margin-right: 35px;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    -moz-transition: 0.5s;
    transition: 0.5s;
}

.images .image-two:hover {
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
    transform: translateY(-8px);
}

.projetos {
    display: flex;
    justify-content: space-evenly;
}

.card {
    width: 18rem;
    height: 25rem;
    position: relative;
}

.card-img-wrapper {
    width: 100%;
    height: 100%;
    background-color: #262626;
    border-radius: 0.5rem;
}

.card-img-wrapper img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.card:hover .card-img-wrapper img {
    opacity: 0.5;
}

.card-info {
    position: absolute;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
    padding: 2rem;
    text-shadow: 0.3rem 0.2rem 0.3rem rgba(0, 0, 0, 0.6);
    transition: all 0.3s;
}

.card-info h2 {
    font-family: var(--font-primary);
    font-size: 2rem;
    font-weight: 500;
    color: #eee;
}

.card-info h3 {
    font-family: var(--font-secundary);
    font-weight: bolder;
    color: #ff4081;
    margin-bottom: 1.5rem;
}

.card-info p {
    font-family: var(--font-secundary);
    color: #eee;
    font-weight: 400;
    width: 80%;
    margin-bottom: 2rem;
}

.btn {
    background: #7f00ff;
    background: -webkit-linear-gradient(to right, #e100ff, #7f00ff);
    background: linear-gradient(to right, #e100ff, #7f00ff);
    font-family: var(--font-action);
    color: #eee;
    border-radius: 0.5rem;
    border: none;
    box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
}

.card-info button {
    width: 8rem;
    height: 2.5rem;
}

.card:hover .card-info {
    bottom: 2rem;
    opacity: 1;
    visibility: visible;
}

.sessao-projetos {
    background-color: #191919;
    padding-top: 30px;
    padding-bottom: 30px;
}

.sessao-header h1 {
    font-size: 60px;
    color: var(--color-light-blue);
    padding-left: 90px;
    margin-bottom: 20px;
}

footer {
    background-color: #191919;
}

.rodape h1 {
    font-size: 60px;
    color: var(--color-light-blue);
    padding-left: 90px;
    padding-top: 30px;
}

footer .rodape form div.title h2 {
    color: var(--color-white);
    padding-left: 90px;
    margin-top: 30px;
    font-size: 1.9rem;
}

footer form .forms {
    display: flex;
    flex-direction: column;
}

.forms {
    background-color: #718BE7;
}

